<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Flask Intro</title>
  <link rel="stylesheet" href="static/bootstrap.min.css" media="screen">
</head>
<body>
  <div class="container">
    <!-- child template -->
    {% block content %}{% endblock %}

    <!-- errors -->
    {% if error %}
      <p class="error"><strong>Error:</strong> {{ error }}</p>
    {% endif %}

    <!-- messages -->
    {% for message in get_flashed_messages() %}
      {{ message }}
    {% endfor %}
  </div>

</body>
</html>
